.burgerContainer {
    position: relative;
    z-index: 5;
}

.burgerBtn {
    background: transparent;
    border: 0;
    z-index: 10;
    position: relative;
}

.burgerWrapper {
    position: relative;
}

.burgerBody {
    width: 502px;
    position: absolute;
    padding: 32px 16px;
    top: 0;
    left: 0;
    background: #F9F9FA;
    border-radius: 10px;
}

.additionalLinks {
    margin-top: 52px;
    padding-top: 32px;
    padding-bottom: 52px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    border-top: 1px solid #BFC4C9;
}

@media (max-width: 767px) {
    .burgerBody {
        width: 288px;
    }
}

.notVisible {
    display: none;
}
