.button {
    cursor: pointer;
    background: #014480;
    border-radius: 20px;
    border: none;
    color: white;
    width: 100%;
    padding: 11px 23px;

    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
