.mainLink {
    display: block;
    max-width: 200px;
    word-wrap: normal;
    white-space: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #363636;
}

.mainActive {
    background: #014480;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 0;
    border-bottom: 1px solid #014480;
}
