.head {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: 0;
}

.headActive {
    border-bottom: 1px solid #014480;
}

.arrowInactive {
    transform: rotate(180deg);
}

.notVisible {
    display: none;
}
