.booked {
    background: #FFFFFF;
    border: 1px solid #BFC4C9;
    border-radius: 20px;
    color: #363636;
    cursor: default;
}

.inUse {
    background: #F9F9FA;
    border: 1px solid #BFC4C9;
    border-radius: 20px;
    color: #A7A7A7;
    cursor: default;
}
