.button {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    border: 0;
    width: 38px;
    height: 38px;
    filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
}

.active {
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
}

@media (max-width: 767px) {
    .button {
        width: 32px;
        height: 32px;
        padding: 8px;
    }
}
