.layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    column-gap: 6px;
}

@media (max-width: 1439px) {
    .layout {
        display: flex;
    }

    .sideBarContainer {
        display: none;
    }
}

